<h2>GET</h2>
Name :<input type="text" (keyup)="onNameKeyUp($event)">
<button (click)="getProfile()">get Brand</button>
<br>
<!--div *ngIf="found" style="padding:30px;">
  <span >ID: {{id}} Brand: {{name}} Sport: {{type}} Rating: {{rating}} .... {{n}}</span>
</div>-->

<ul *ngIf="found">
  <!--  src="assets/rvlogo.png" -->
  <li  *ngFor="let job of jobList"><br> <div><img class="comlogo" src="{{job.image}}"></div> <b>{{job.jobtitle}} @ {{job.company}} </b><br>
    <br>

  
    <span class="glyphicon glyphicon-map-marker"></span> {{job.location}} 
    <span class="glyphicon glyphicon-time"></span> {{job.type}} 
   <!-- <span class="glyphicon glyphicon-usd"></span> {{job.salary}} -->
    <i class="fa fa-money"></i> {{job.salary}} 
    <span class="glyphicon glyphicon-tags"></span> {{job.department}} 
    <button class="jobApplybtn" type="button">Apply now</button>
  </li>
</ul>
<br>


<br><br><br>local json

<div ng-app="myApp" 
        ng-controller="myController">

        <table>
            <tr>
                <th>ID</th>
                    <th>Bird Name</th>
                        <th>Type of Bird</th>
            </tr>

            <tr ng-repeat="birds in list">
                <td>{{birds.ID}}</td>
                    <td>{{birds.Name}}</td>
                        <td>{{birds.Type}}</td>
            </tr>
        </table>
    </div>